<!-- MAIN -->
<div id="main">
	<!-- wrapper -->
	<div class="wrapper">
		<!-- home-content -->
		<div class="static-content cabinets">		  

    <div class="bullet-title"><div class="huge">Cabinets</div></div>
    
    <div class="cabinets">
      <table>
        <tr>
          <td><%= link_to image_tag("CountryOak.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/country-oak", :target => "blank" %></td>    
          <td><%= link_to image_tag("KCherry.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/cherry-glaze/", :target => "blank" %></td>   
          <td><%= link_to image_tag("KCinnamon.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/cinnamon-glaze/", :target => "blank" %></td>   
          <td><%= link_to image_tag("KHoney.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/honey-glaze/", :target => "blank" %></td>   
          <td><%= link_to image_tag("NewYorker.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/new-yorker/", :target => "blank" %></td>   
          <td><%= link_to image_tag("Oasis.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/oasis/", :target => "blank" %></td>   
        </tr>

        <tr class="name">
          <td>Cherry Oak</td>
          <td>KCherry</td>
          <td>KCinnamon</td>
          <td>KHoney</td>
          <td>New Yorker</td>
          <td>Oasis</td>
        </tr>
        
        <tr>
          <td><%= link_to image_tag("Pacifica.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/pacifica/", :target => "blank" %></td>    
          <td><%= link_to image_tag("Sandstone.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/sandstone-rope/", :target => "blank" %></td>             
          <td><%= link_to image_tag("Shakertown.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/shakertown", :target => "blank" %></td>   
          <td><%= link_to image_tag("Siena.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/sienna-rope", :target => "blank"  %></td>   
          <td><%= link_to image_tag("Tribecca.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/tribecca", :target => "blank" %></td>        
          <td><%= link_to image_tag("IceWhite.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/ice-white-shaker", :target => "blank" %></td>          
        </tr>

        <tr class="name">
          <td>Pacifica</td>
          <td>Sandstone</td>
          <td>Shakertown</td>
          <td>Sienna Rope</td>
          <td>Tribecca</td>
          <td>Ice White Shaker</td>
        </tr>    

        <tr>
          <td><%= link_to image_tag("PepperShaker.jpg"), "http://forevermarkcabinetry.com/cabinet-collection/pepper-shaker/", :target => "blank" %></td>          
        </tr>

        <tr class="name">
          <td>Pepper Shaker</td>
          <td>KExpresso</td>
          <td>Brownstone</td>
          <td>Pearl</td>
        </tr>   
      </table>      
    </div>
    
    </div>
  </div>
</div>