<!-- MAIN -->
<div id="main">
	<!-- wrapper -->
	<div class="wrapper">
		<!-- home-content -->
		<div class="static-content">		  

    <div class="bullet-title"><div class="huge">Faucets and Sinks</div></div>
    
    <div class="sinks">
      <%= link_to image_tag("faucets/2734-KPN-240x240.jpg"), "http://www.allorausa.com/shop/2734-kpn/", :target => "blank" %>
      <%= link_to "2734-kpn", "http://www.allorausa.com/shop/2734-kpn/", :target => "blank" %>
      <%= link_to image_tag("faucets/2744-KPN-240x240.jpg"), "http://www.allorausa.com/shop/2744-kpn/", :target => "blank" %>
      <%= link_to "2744-kpn", "http://www.allorausa.com/shop/2744-kpn/", :target => "blank" %>
      <%= link_to image_tag("faucets/2754-KPN-240x240.jpg"), "http://www.allorausa.com/shop/2754-kpn/", :target => "blank" %>
      <%= link_to "2754-kpn", "http://www.allorausa.com/shop/2754-kpn/", :target => "blank" %>

      <%= link_to image_tag("faucets/3707-KPN-240x240.jpg"), "http://www.allorausa.com/shop/3707-kpn/", :target => "blank" %>
      <%= link_to image_tag("faucets/3744-KPN-240x240.jpg"), "http://www.allorausa.com/shop/3744-kpn/", :target => "blank" %>
      <%= link_to image_tag("faucets/4714-KPN-240x240.jpg"), "http://www.allorausa.com/shop/4714-kpn/", :target => "blank" %>
      <%= link_to image_tag("faucets/4736-KPN-240x240.jpg"), "http://www.allorausa.com/shop/4736-kpn/", :target => "blank" %>
      <%= link_to image_tag("faucets/A-710-BN-240x240.jpg"), "http://www.allorausa.com/shop/a-710-bn-kitchen-faucet/", :target => "blank" %>
      <%= link_to image_tag("faucets/A-715-BN-240x240.jpg"), "http://www.allorausa.com/shop/a-715-bn-kitchen-faucet-coming-soon//", :target => "blank" %>
      <%= link_to image_tag("faucets/A-726-BN-240x240.jpg"), "http://www.allorausa.com/shop/a-726-bn-kitchen-faucet-coming-soon/", :target => "blank" %>
      <%= link_to image_tag("faucets/A-929-BN-e1377633548367-240x240.jpg"), "http://www.allorausa.com/shop/kitchen-faucet-copy-copy/", :target => "blank" %>
      <%= link_to image_tag("faucets/A-930-BN-240x240.jpg"), "http://www.allorausa.com/shop/a-930-bn/", :target => "blank" %>

      <%= link_to image_tag("sinks/KSN-902-240x240.jpg"), "http://www.allorausa.com/shop/ksn-902/", :target => "blank" %>
      <%= link_to image_tag("sinks/KSN-903-240x240.jpg"), "http://www.allorausa.com/shop/ksn-903/", :target => "blank" %>
      <%= link_to image_tag("sinks/KSN-904-240x240.jpg"), "http://www.allorausa.com/shop/ksn-904/", :target => "blank" %>
      <%= link_to image_tag("sinks/KSN-905-240x240.jpg"), "http://www.allorausa.com/shop/ksn-905/", :target => "blank" %>
      <%= link_to image_tag("sinks/KSN-906-240x240.jpg"), "http://www.allorausa.com/shop/ksn-906/", :target => "blank" %>
      <%= link_to image_tag("sinks/KSN-907-240x240.jpg"), "http://www.allorausa.com/shop/ksn-907/", :target => "blank" %>
      <%= link_to image_tag("sinks/KSN-909-240x240.jpg"), "http://www.allorausa.com/shop/ksn-909/", :target => "blank" %>      
      <%= link_to image_tag("sinks/KSN-972-240x240.jpg"), "http://www.allorausa.com/shop/ksn-972/", :target => "blank" %>
      <%= link_to image_tag("sinks/KSN-972R-240x240.jpg"), "http://www.allorausa.com/shop/ksn-972R/", :target => "blank" %>
      <%= link_to image_tag("sinks/KSN-976-240x240.jpg"), "http://www.allorausa.com/shop/ksn-976/", :target => "blank" %>
      <%= link_to image_tag("sinks/KSN-976R-240x240.jpg"), "http://www.allorausa.com/shop/ksn-976R/", :target => "blank" %>           
      <%= link_to image_tag("sinks/KSN-2318-8-240x240.jpg"), "http://www.allorausa.com/shop/ksn-2318-8/", :target => "blank" %>        
    </div>
    
    </div>
  </div>
</div>